 * {
    box-sizing: border-box; 
   /* border: 1px solid red;*/
    padding: 0;
    margin: 0;

} 

body{

    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    
}

ul {
    list-style: none;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 30px;
}   

.navbar{
    background-color: #1F2937;
    color: #F9FAF8;
    height: 60px;
}

.navbar .logo{
    font-size: x-large;
    font-weight: bold;
}

.navbar a {
    color: #F9FAF8;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.navbar a:hover{
    color: #5675a0;
}

.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul{
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
}

.header{
    background-color: #1F2937;
    color: #F9FAF8;
    min-height: 400px;

}

.header h1 {
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.2;
}

.header img{
    max-width: 400px;
    border-radius: 48px;
}

.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sign-up{
    background-color: #3882F6;
    color: #F9FAF8;
    text-align: center;
    border: none;
    border-radius: 8px;
    font-size: 12px;
    padding: 10px 24px;
    width: 25%;
    margin-top: 5px;
}

.sign-up:hover{
    background-color: #5675a0;
}

.drivers{
    min-height: 300px;
}

.drivers .container{
    display: flex;
    flex-direction: column;

}

.container h1{
    text-align: center;
}

.driverimg{
    display: flex;
    
    margin: 50px;
    align-items: center;
    justify-content: space-around;
 }

.driverimg img{
    max-width: 100px;
    border: 3px solid #5675a0;
    border-radius: 48px; 
}



.driverimg h3{
    text-align: center;
}