* {border: 1px solid red;}

body{

    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

.menu{
    display: flex;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 0px 50px 0px 50px;
}

.logo{
    font-size: 24px;
    color:#F9FAF8;
    padding: 5px;
    font-weight: bold;
    margin-right: auto;
    justify-self: flex-start;
}

.item{
    font-size: 18px;
    color: #E5E7EB;
    padding: 10px;

}

.main{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
    background-color: #1F2937;
    padding: 0px 50px 0px 50px;


}   

.main-text{
    
}

h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

p{
    font-size: 18px;
    color: #E5E7EB; 
}

.main-img{
    background-color: #707070;
    margin-right: auto;
   
}

.sign-up{
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    padding: 5px 10px;
}
